@value mobile,tablet,computer,monitor,widescreen from "../common/breakpoints.css";

.contact-footer{
  margin-bottom: 7rem;
  @media widescreen{
    margin-bottom: 37rem;
  }
}
.landing-Contact-page{
  .profile-header{
    .profile-button{
      background-color: #d8d8d8;
      &:hover {
        background-color: #d8d8d8;
      }
    }
  }
  .profile-card {
    padding-bottom: 8rem;
    .character-counter {
      display: none;
    }
  }
  min-height: 100%;
  .contact-form{
    position: relative;
  }
  .contact-content-header{
    font-size: 36px;
    font-weight: bold;
    line-height: 1.67;
    letter-spacing: 3px;
    color: #000000;
    margin-bottom: 36px;
  }
  .sub-heading{
    font-size: 14px;
    font-weight: bold;
    line-height: 1.14;
    letter-spacing: 1.4px;
    color: #4a4a4a;
    border-bottom: solid 1px #d8d8d8;
    padding-bottom: 10px;
  }
  .contact-heading{
    font-size: 14px;
    font-weight: bold;
    line-height: 1.14;
    letter-spacing: 1.4px;
    color: #4a4a4a;
    padding-top:10px;
  }
  .contact-info{
    font-size: 12px;
    font-weight: normal;
    line-height: 1.33;
    letter-spacing: 1.2px;
    color: #4a4a4a;
  }
  .contact-button{
    padding: 10px 42px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .validation{
    color: red;
  }
  .contact-form{
    border-top: solid 1px #d8d8d8;
    input{
      margin-top: 20px;
      margin-bottom: 10px;
    }
    textarea{
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }
}
